 .loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #555; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.search-box {
    margin: 20px auto;
    text-align: center;
}

.search-box > input {
    padding: 3px;
    width: 100%;
    height: 50px;
    font-size: 20px;
}

#right-column {
    margin-bottom: 25px;
}

.section-title {
    margin: 15px 0px 25px;
}

.city-picture {
    background-size: cover;
    background-repeat: no-repeat; 
    color: #fff;
}

.event-box {
    position: relative;
    margin: auto;
    text-align: center;
    width: 250px;
    height: 380px;
    margin-bottom: 70px;
    background: #e9e9e6;
}

.event-title {
    margin-top: 13px;
    padding: 0 20px;
    box-sizing: border-box;
}

.event-time {
    position: absolute;
    bottom: 5%;
    text-align: left;
    margin-left: 15px;
    font-size: 11px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

.bloc_right-column .tab_container {
	padding: 10px;
	background-color: #f6f6f6;
}

.bloc_right-column .weather-infosGlobal {
    position:relative;
}

footer {
    margin-top: 25px;
}