<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="style/style.css">
		<link rel="stylesheet" href="style/weather.css">
		<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="../node_modules/angular/angular.js"></script> 
        <script src="../node_modules/angular-aria/angular-aria.js"></script> 
        <script src="../node_modules/angular-animate/angular-animate.js"></script> 
        <script src="../node_modules/angular-material/angular-material.js"></script> 
		<script src="../node_modules/angular-route/angular-route.js"></script>
		<script>
			var mainApp = angular.module("weatherforecastmvc", []);
		</script>		
		<script type="text/javascript" src="scripts/controllers/CityCtrl.js"></script>
		<script type="text/javascript" src="scripts/services/weatherforecastService.js"></script>
		<script type="text/javascript" src="scripts/services/eventsService.js"></script>
		<script type="text/javascript" src="scripts/filters/trustHtmlFilter.js"></script>
		<script type="text/javascript" src="scripts/directives/directiveHelper.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsW-BWHh8QreBbUy-mYNHxzeCqGcFgLTc&libraries=places" type="text/javascript"></script>
		<script type="text/javascript" src="http://api.eventful.com/js/api"></script>
	</head>
	<body>
		<header></header>
		<div class="container" ng-app="weatherforecastmvc" ng-controller="CityCtrl">
			<div class="row">
				<div class="search-box col-md-4 col-xs-12"><input ng-model="keyword" googleplace/></div>
			</div>
			<div class="row">
				<div class="city-picture col-md-12" ng-style="selectedCity.ImageStyle">
					<h1>{{selectedCity.Name}}</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8"></div>
				<div id="right-column" class="col-md-4 col-xd-4" ng-show="weatherFound">
					<div class="weather-title"><h3>Weather now in {{selectedCity.Name}}</h3></div>
					<div class="bloc_right-column">
						<div class="tab_container">
							<div class="tab_contentWeather">
								<div class="weather-ico" ng-class="selectedCity.weatherClass">
								</div>
								<div class="weather-infosGlobal">
									<div class="weather-infosLeft">
										<span class="weatherCity">{{selectedCity.Name}}, {{selectedCity.Country}}</span> 
										<span class="weatherDate">{{selectedCity.Temp}}ºC</span>
										<span class="weatherInfo">{{selectedCity.Description}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab_contentWeather row" ng-show="weatherFound">
						<div ng-repeat="d in FiveDaysWeatherForecast" class="weather-small col-md-15 col-xs-15">
							<div>{{d.date*1000 | date:'EEE, MMM d'}}</div>
							<div ng-class="d.cssClass" class="weather-small-ico"></div>
							<div class="weather-small-info">
								<div>{{d.temp_max}}º / {{d.temp_min}}º</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<section class="row">
				<div ng-show="loading" class="col-md-2 col-md-offset-5">
					<div class="loader"></div>
				</div>
				<div ng-show="eventsFound" class="section-title col-md-12">
					<h1>Upcoming events in {{selectedCity.Name}}</h1>
				</div>
				<div ng-repeat="ev in eventsWithImage" class="col-md-4" ng-show="eventsFound">
					<div class="event-box">
						<div><img src="{{ev.image}}" /></div>
						<div class="event-title"><strong>{{ev.title}}</strong></div>
						<div class="event-time">
							<i>{{ev.time | date:'medium'}}</i>
							<div>{{ev.venue}}</div>
						</div>
						<!-- <div ng-bind-html="ev.description | to_trusted"></div> -->
					</div>
				</div>
			</section>				
		</div>
		<footer></footer>
	</body>
</html>